* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Montserrat", sans-serif; */
}

::selection {
    background-color: #81c8ff;
    color: #fff;
}

/* Swipper Slides Connfig Starts */
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-pagination {
    margin-right: 1rem;
}

/* Pagination Bullets Color Change */
.swiper-pagination-bullet {
    background-color: rgb(199, 199, 199);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    /* background-color: rgb(66, 66, 66); */
    background-color: rgb(66, 66, 66);
}

/* Swipper Slides Connfig Ends */

/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* Navbar Starts Here */
nav {
    padding: 1.5rem 0 !important;
    /* background: #141414 !important; */
    background: transparent !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 10 !important;
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar-toggler-icon {
    color: #ebebeb !important;
}

.navbar-nav .nav-link.active {
    color: #fff !important;
    font-weight: 700 !important;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

/* Dropdown Styling */
.navbar-nav .dropdown-menu {
    background-color: #000;
    box-shadow: rgba(215, 215, 215, 0.24) 0px 3px 8px;
}

.navbar-nav .dropdown-item {
    color: #fff !important;
}

.navbar-nav .dropdown-item:hover {
    background-color: #222;
}

/* Responsive rule for screens under 576px */
@media (max-width: 576px) {
    .navbar-collapse {
        background-color: transparent;
        backdrop-filter: blur(10px);
        text-align: center;
        margin-top: 0.5rem;
        border-radius: 8px !important;
        padding: 0.5rem 0 !important;
    }
}
/* Navbar Ends Here */


/* Top Banner Section Starts */
.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
}

/* Top Banner Section Ends */


/*  Rounded Cards Section Starts Here */
.rounded-cards-bg {
    padding: 3.5rem 0;
    background-color: #141414;
    overflow: hidden;
}

.rounded-cards h5 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    color: rgb(230, 61, 0);
}

.rounded-cards h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 6rem;
    color: #fff;
}
.bespoke-rounded-cards h1 {
    margin-top: 2.7rem;
}

.rounded-cards .cards-row {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.rounded-cards .cards-row .rounded-card {
    width: 24%;
    overflow: hidden;
}

.rounded-cards .cards-row .rounded-card .card-img {
    border-radius: 50%;
    overflow: hidden;
}

.rounded-cards .cards-row .rounded-card img {
    width: 100%;
    border-radius: 50%;
    /* border: 1.3rem solid #fff; */
    border: 0.5rem solid #fff;
    transition: all 0.5s ease;
}

.rounded-cards .cards-row .rounded-card img:hover {
    scale: 1.07;
}

.rounded-cards .cards-row .rounded-card .card-desc {
    margin-top: 2rem;
    text-align: center;
}

.rounded-cards .cards-row .rounded-card .card-desc h3 {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
}

.rounded-cards .cards-row .rounded-card .card-desc p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #bab9b9;
}

/*  Rounded Cards Section Ends Here */


/* Gallery Section Starts Here */
.gallery {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.gallery-left {
    width: 50%;
    overflow: hidden;
}

.gallery-left-top,
.gallery-left-bottom {
    display: flex;
    overflow: hidden;
}

.gallery-left-top .top-left,
.gallery-left-top .top-right,
.gallery-left-bottom .bottom-left,
.gallery-left-bottom .bottom-right {
    width: 50%;
}

.gallery-left img {
    width: 100%;
}

.gallery-left-top .top-right {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 1rem;
}

.gallery-left-bottom .bottom-left {
    background-color: #98c396;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 1rem;
}

.gallery-left-top .top-right h5,
.gallery-left-bottom .bottom-left h5 {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.gallery-left-top .top-right h1,
.gallery-left-bottom .bottom-left h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1rem 0;
}

.gallery-right {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.gallery-right img {
    width: 100%;
    height: 100vh;
}

.gallery button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 0.5rem 2.2rem 0.7rem 2.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
    transition: all 0.5s ease;
}

.gallery button:hover {
    background-color: #fff;
    color: #000;
}

/* Gallery Section Ends Here */


/* Slide 4 Starts */
.slide4 {
    background-color: #141414;
}


.slider-container {
    position: relative;
}

.card-slider .slick-slide {
    margin: 0 20px;
}

.card-slider {
    padding: 0 5rem;
    height: 70vh;
    margin-top: 25vh;
}
.card-slider .card {
    text-align: center;
    border: none;
    overflow: hidden;
}

.slick-prev,
.slick-next {
    color: #fff !important;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(350%);
}

.slick-prev {
    left: 47%;
}

.slick-next {
    right: 47%;
}
.card-slider .card img {
    width: 100%;
    transition: all 0.5s ease;
}

.card-slider .card:hover img {
    scale: 1.15;
}
.card-slider .card .slide-img {
    overflow: hidden;
}
.card-slider .card .slide-desc {
    padding: 0.4rem 0 0.7rem 0;
}
.card-slider .card .slide-desc p{
    font-weight: 600;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Slide 4 Ends*/






/* Media For Mobile Screen Starts Here */
@media screen and (min-width: 576px) {
    .mobile-site {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .swiper {
        display: none;
    }

    .mobile-site {
        z-index: 100;
    }

    /* Navbar Media Starts */
    nav {
        padding: 0.6rem 0 !important;
    }
    .navbar-nav .nav-link {
        font-size: 1.1rem !important;
    }
    /* Navbar Media Ends */

    /* Rounded Cards Media Starts */
    .rounded-cards-bg {
        padding: 6rem 0 2rem 0;
    }
    #bespoke-rounded-cards-section{
        padding: 2rem 0;
    }

    .rounded-cards h5 {
        font-size: 1.1rem;
    }

    .rounded-cards h1 {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }

    .rounded-cards .cards-row {
        flex-direction: column;
        margin-top: 2rem;
    }

    .rounded-cards .cards-row .rounded-card {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 0.8rem;
    }

    .rounded-cards .cards-row .rounded-card img {
        border: 0.4rem solid #fff;
    }

    .rounded-cards .cards-row .rounded-card .card-desc {
        margin-top: 1rem;
    }

    .rounded-cards .cards-row .rounded-card .card-desc h3 {
        font-size: 1.1rem;
    }

    .rounded-cards .cards-row .rounded-card .card-desc p {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }

    /* Rounded Cards Media Ends */

    /* Gallery Section Media Starts */
    .gallery {
        flex-direction: column;
    }

    .gallery-left {
        width: 100%;
    }

    .gallery-right {
        width: 100%;
    }

    .gallery-left-top {
        flex-direction: column;
    }

    .gallery-left-bottom {
        flex-direction: column-reverse;
    }

    .gallery-left-top .top-left,
    .gallery-left-top .top-right,
    .gallery-left-bottom .bottom-left,
    .gallery-left-bottom .bottom-right {
        width: 100%;
    }

    .gallery-left-top .top-right,
    .gallery-left-bottom .bottom-left {
        padding: 5rem 1rem;
    }

    .gallery-left-top .top-right h5,
    .gallery-left-bottom .bottom-left h5 {
        font-size: 1.2rem;
    }

    .gallery-left-top .top-right h1,
    .gallery-left-bottom .bottom-left h1 {
        font-size: 2rem;
        margin: 0.2rem 0 0.8rem 0;
    }

    .gallery button {
        padding: 0.2rem 1rem 0.3rem 1rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    /* Gallery Section Media Ends */

    /* Slider Section Media Starts */
    .slider-container {
        background-color: #000;
        overflow: hidden;
    }
    .card-slider {
        padding: 0 1rem 4rem 1rem;
        height: auto;
        margin-top: 1rem;
    }
    #bespoke-slider-section{
        padding: 3rem 0;
    }
    .slider-container {
        padding: 2rem 0;
    }

    .slick-slide {
        margin: 0 10px;
    }

    .card-slider .card {
        text-align: center;
        border: none;
        overflow: hidden;
        padding-bottom: 0;
        height: auto;
    }

    .slick-prev,
    .slick-next {
        color: #fff !important;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(400%);
    }

    #bespoke-slider-section .slick-prev,
    #bespoke-slider-section .slick-next{
        transform: translateY(290%);
    }

    .slick-prev {
        left: 35%;
    }

    .slick-next {
        right: 35%;
    }

    /* Slider Section Media Ends */
}

@media screen and (min-width: 390px) and (max-width: 450px) {
    .card-slider {
        padding: 0 1rem 5rem 1rem;
    }
    .slick-prev,
    .slick-next {
        transform: translateY(480%);
    }
    #bespoke-slider-section .slick-prev,
    #bespoke-slider-section .slick-next{
        transform: translateY(350%);
    }
}

/* Media For Mobile Screen Ends Here */