/* About Us Section Starts Here */
#about{
    background-color: #1c1c1c;
    overflow: hidden;
  }
  
  .about-us{
    padding: 6rem 0 10rem 0;
    overflow: hidden;
    display: flex;
    /* position: relative; */
  }
  .about-us .about-image{
    width: 50%;
    overflow: hidden;
  }
  .about-us .about-image img{
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.1s ease-in-out;
  }
  .about-us .about-image img:hover{
    filter: grayscale(0);
  }
  
  .about-content{
    width: 57%;
    /* background-color: #ebebeb; */
    /* position: absolute; */
    /* top: 20%; */
    /* right: 10px; */
    padding: 3rem;
    /* box-shadow: rgba(0, 0, 0, 0.808) 0px 3px 8px; */
  }
  .about-content h5{
    color: #dbdbdb;
    /* color: #1c1c1c; */
    font-size: 2.2rem;
  }
  .about-content h1{
    /* color: #f3f3f3; */
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 1rem;
  }
  .about-content .line{
    margin-top: 1.3rem;
    width: 3rem;
  }
  .about-content p{
    margin-top: 1.8rem;
    /* color: #c1c0c0; */
    color: #a8a8a8;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  
  .about-content .content-menu{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    /* background-color: #c1c0c0; */
    width: 90%;
  }
  .about-content .content-menu .menu{
    width: 32.8%;
    /* background-color: #969696; */
    border-radius: 50px;
    padding: 1rem 1.5rem;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .about-content .content-menu .menu:hover{
    background-color: #b6b6b612;
  }
  .about-content .content-menu .menu.active{
    background-color: #373737ce;
  }
  .about-content .content-text{
    /* background-color: #7b7979;  */
    margin-top: 5px;
    padding: 1.7rem 1.5rem;
    display: none;
    min-height: 16rem;
  }
  .content-text.active {
    display: block;
  }
  .about-content .content-text p{
    margin: 0;
    margin-bottom: 0.6rem;
    color: #c6c6c6;
    font-family: "Montserrat", sans-serif;
  }
  /* .about-content .content-text p:first-child{
    margin-bottom: 1.5rem;
    text-align: justify;
    font-weight: 600;
  } */
  
  /* About Us Section Ends Here */